<ion-view view-title="Account">
    <ion-content>
        <form class="list" ng-submit="login()">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="credentials.email" required>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="credentials.password" required>
            </label>
            <div class="item">
                <button type="submit" class="button button-block button-positive">
                    Login
                </button>
                <button class="button button-block button-calm">
                    Register
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
