<ion-view view-title="Sales">
    <ion-content class="padding">
        <p><a href="#/tab/sales/recent" class="button icon-left ion-loop button-positive">Recent</a></p>
        <p><a href="#/tab/sales/popular" class="button icon-left ion-heart button-positive">Popular</a></p>
        <p><a href="#/tab/sales/favorites" class="button icon-left ion-star button-positive">Favorites</a></p>
        <p><a href="#/tab/sales/search" class="button icon-left ion-search button-positive">Search</a></p>
    </ion-content>
</ion-view>
