<ion-view view-title="Register">
    <ion-content>
        <form class="list" ng-submit="register()">
            <label class="item item-input">
                <input type="text" placeholder="Email" ng-model="form.email" required>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="form.name">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="form.password" required>
            </label>
            <label class="item item-input">
                <input type="date" placeholder="Birth date" ng-model="form.birth">
            </label>
            <label class="item item-radio">
                <input type="radio" name="gender" value="MALE" ng-model="form.gender">
                <div class="item-content">Male</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="gender" value="FEMALE" ng-model="form.gender">
                <div class="item-content">Female</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <div class="item">
                <button type="submit" class="button button-block button-positive">
                    Register
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
