<ion-view view-title="User Profile">
    <ion-content>
        <form class="list" ng-submit="updateProfile()">
            <label class="item item-input">
                <input type="text" placeholder="Update email" ng-model="profile.email" required>
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Update name" ng-model="profile.name">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Update password" ng-model="profile.password" required>
            </label>
            <label class="item item-input">
                <input type="date" placeholder="Update birth date" ng-model="profile.birth">
            </label>
            <label class="item item-radio">
                <input type="radio" name="gender" value="MALE" ng-model="profile.gender">
                <div class="item-content">Male</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <label class="item item-radio">
                <input type="radio" name="gender" value="FEMALE" ng-model="profile.gender">
                <div class="item-content">Female</div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
            <div class="item">
                <button class="button button-block button-assertive" ng-click="logout()">
                    Logout
                </button>
                <button type="submit" class="button button-block button-positive">
                    Update Profile
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>
